{{> header}}
        
        {{> navbar }}

        <div class="jumbotron">
            <header>
                <h3 class="display-4">Información</h3>
            </header>

            <p class="lead">Esta página fue creada por Jean Pierre Casa </p>

            
        </div>
    
        <div class="row mx-5 position-absolute top-50 start-50 translate-middle">
             <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/img/yo jop.jpg" class="card-img-top" alt="Juegos">
                    <div class="card-body">
                      <p class="card-text">Creador y diseñador del sitio web.</p>
                    </div>
                  </div>
            </div>
        </div>

    </div>


{{> footer }}